<div class="page-header">
  <h1>Editing Fee Receipt </h1>
</div>
<%= render 'form' %>

<hr/>
<%= link_to 'Show', @fee_receipt,class: 'btn btn-sm btn-info' %> |
<%= link_to 'Back', fee_receipts_path ,class: 'btn btn-sm btn-danger'%>
