<h1>Editing Faculty</h1>

<%= render 'form' %>
<hr/>
<% if faculty_logged_in? %>
  <%= link_to 'Show', @faculty ,class:'btn btn-sm btn-info'%> 
  <%= link_to 'Back', faculty_path ,class:'btn btn-sm btn-warning pull-right'%>
<% elsif admin_logged_in? %>
  <%= link_to 'Back', list_faculty_path(@admin) , class: 'btn btn-sm btn-success'%>
<% end %>

