<div class="page-header">
  <h2>Faculty Home Page</h2>
</div>
<div class="row">
<div class="col-md-3 col-sm-3">
  <%= render 'sidemenu' %>
</div>
<div class="col-sm-9 col-md-9">
 <div class="jumbotron">
    <h1>Globus Group of Institution - <small>Faculty</small> </h1>
    <h2><%= @faculty.name %></h2>
    <%= link_to 'Welcome' ,'',class: 'btn btn-lg btn-success' %>
  </div>
</div>
</div>
