<div id="banner" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="jumbotron">
          <h1>BITS</h1>
           <%= image_tag('a.jpg' , :size => "500x300") %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="jumbotron">
          <h1>
            BIT
          </h1>
          <%= image_tag('b.jpg', :size => "500x300") %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="jumbotron">
          <h1>
            GEC
          </h1>
          <%= image_tag('c.jpg', :size => "500x300") %>
        </div>
      </div>
    </div>
  </div>
</div>
