<div class="container-fluid">
      <p >
      PopularName: GEC<br/>
      Course: BE/B.Tech<br/>
      Establishment: 2002<br/>
      Management: Private College<br/>
      Affiliated To: Rajiv Gandhi Proudhyogiki Vishwavidyalaya
    </p>
</div>